<!-- callout block -->
<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, odit
        labore in modi, eius, ex vero sunt rem nesciunt tenetur tempora porro
        velit ipsum esse saepe eos? Placeat, aliquid architecto?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
