<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veniam
    iusto ut cupiditate consectetur, praesentium hic, quaerat necessitatibus ad
    optio consequatur est aperiam temporibus numquam doloremque autem culpa.
    Esse impedit, nostrum sequi provident hic non a quia iste veritatis minus
    modi harum odio suscipit commodi error cumque explicabo laborum iusto.
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote__media">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="media__description quote__company">Lorem ipsum company</p>
      </div>
    </div>
  </footer>
</blockquote>
