<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <!-- Google Fonts preconneted -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <linkn
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <section class="block">
      <header class="block__header">
        <h2>What our Coustomers are saying</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          autem reprehenderit quas distinctio possimus iure nostrum facere est
          fugiat, optio totam illo quia quidem repudiandae laborum, sequi quam
          laudantium amet!
        </p>
      </header>
      <div class="contianer">
        <div class="card testimonal">
          <div class="grid grid--cols-2">
            <div class="testimonal__image">
              <img
                src="/images/testimonial.jpg"
                alt="A Happy, Smiling Customer" />
              <span class="icon-container icon--container--accent">
                <svg class="icon icon--small icon--white">
                  <use xlink:href="/images/sprite.svg#quotes"></use>
                </svg>
              </span>
            </div>

            <!-- second block -->
            <blockquote class="quote">
              <p class="quote__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                veniam iusto ut cupiditate consectetur, praesentium hic, quaerat
                necessitatibus ad optio consequatur est aperiam temporibus
                numquam doloremque autem culpa. Esse impedit, nostrum sequi
                provident hic non a quia iste veritatis minus modi harum odio
                suscipit commodi error cumque explicabo laborum iusto.
              </p>
              <footer>
                <div class="media">
                  <div class="media__image quote__media">
                    <svg class="icon icon--primary">
                      <use xlink:href="/images/sprite.svg#line"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title quote__author">Jhone Lumeo</h3>
                    <p class="media__description quote__company">
                      Lorem ipsum company
                    </p>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
